<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike-rental</title>
    <link rel="stylesheet" href="/static/CSS/bikestyle.css">
</head>
<body>
    <header class="header-banner">
        <div class="header-content">
            <h1>Bike-Rental</h1>
            <nav class="nav-container">
                <a href="{{ url_for('bikes') }}" class="nav-link">Bikes</a>
                <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
            </nav>
        </div>
    </header>

    <section id="home" class="bordered">
        <div class="container">
            <h2> Welcome to bike rental store</h2>
            <p>bike rental is a store for all your bike rentals</p>
        </div>
    </section>
</body>
</html>